 /* ================= Global ================ */

 /* GOOGLE FONT */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 :root {
  --wallpaper: linear-gradient(to top, #FFC83E, #FB836F, #C1549C, #7E549F);
  --darkpurple: #1c021c;
  --redpink: #f71c4b;
  --dimwhite: #c4c4c4;
  --table-width: 1100px;
  --mobile-width: 700px;
 }

 /* ================= Base ================ */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }

 html {
   scroll-behavior: smooth;
   scroll-padding-top: 100px;
 }

 body {
   background: var(--wallpaper);
   background-attachment: fixed;
 }

 /* ================= Home Page ================ */

 .home {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: auto;
   min-width: 400px;
 }

 /* ================= Home Page - Navbar ================ */

 /* Desktop Mode */

 .home .navbar {
   height: 9vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 12px;
   background-color: black;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
 }

 .home .body-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 300px;
  padding-top: 300px;
 }

 .home .navbar .container {
   width: 90%;
   display: flex;
   align-items: center;
   gap: 3rem;
 }

 .home .navbar .container .logo {
   max-width: 50px;
 }

 .home .navbar .container .links {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
 }

 .home .navbar .container .links ul {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3rem;
 }

 .home .navbar .container .links ul li {
   list-style: none;
   margin-left: 10px;
 }

 .home .navbar .container .links ul li a {
   text-decoration: none;
   padding-bottom: 5px;
   color: whitesmoke;
   font-size: 20px;
   font-weight: 300;
 }

 .home .navbar .container .links ul li a:hover {
   border-bottom: 3px solid whitesmoke;
   color: var(--dimwhite);
   transition: .1s;
 }

 .home .navbar .container .links .login-btn {
   position: relative;
   width: 10rem;
   height: 40px;
   background: var(--redpink);
   color: whitesmoke;
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
   border-radius: 30px;
   border: none;
   outline: none;
 }

 .home .navbar .container .links .login-btn:hover {
   background-color: whitesmoke;
   color: black;
   font-weight: 500;
 }

 .home .navbar .container .hamburger-menu {
   display: none;
   cursor: pointer;
 }

 .home .navbar .container .hamburger-menu div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px;
  transition: all .3s ease;
 }

 /* Mobile Mode */
 @media only screen and (max-width: 725px) {
   .home .navbar .container .hamburger-menu {
     display: block;
   }

   .home .navbar .container {
     justify-content: space-between;
   }

   .home .navbar .container .links ul {
     flex-direction: column;
   }

   .home .navbar .container .links {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 3rem;
     position: absolute;
     top: 10vh;
     right: 0;
     height: 40vh;
     width: 50%;
     background-color: rgba(0, 0, 0, 0.9);
     transform: translateX(200%);
   }
 }

 .home .navbar .container .links.active {
   transform: translateX(0%);
   transition: .5s ease-in;
 }

 .active .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
 }

 .active .line2 {
  opacity: 0;
 }

 .active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
 }

 /* ================= Home Page - Home ================ */


 .home .home-container {
   display: flex;
   justify-content: center;
   align-content: center;
   text-align: center;
   height: auto;
 }

 .home .home-container .home-left {
   height: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
 }


 .home .home-container .left-wrapper {
   padding: 50px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .home .home-container .left-wrapper .name {
   font-size: 80px;
   font-weight: 300;
   color: var(--darkpurple);
 }

 .home .home-container .left-wrapper .feature {
   height: 50px;
   width: 100%;
   overflow: hidden;
 }

 .home .home-container .left-wrapper .feature .feature-wrapper {
   height: 100%;
   animation: move 10s ease-in-out infinite alternate;
 }

 @keyframes move {
   25% {
     transform: translateY(-50px);
   }

   50% {
     transform: translateY(-100px);
   }

   75% {
     transform: translateY(-150px);
   }

   100% {
     transform: translateY(-200px);
   }
 }

 .home .home-container .left-wrapper .feature .feature-item {
   height: 50px;
   font-size: 30px;
   font-weight: 200;
   color: whitesmoke;
   display: flex;
   justify-content: center;
 }

 .home .home-container .left-wrapper .slogan {
   padding: 10px;
   font-size: 20px;
 }

 .home .home-container .left-wrapper button {
   position: relative;
   top: 20px;
   width: 100%;
   height: 50px;
   background: black;
   color: whitesmoke;
   font-size: 16px;
   font-weight: 500;
   cursor: pointer;
   border-radius: 30px;
   border: none;
   outline: none;
 }

 .home .home-container .left-wrapper button:hover {
   background-color: var(--redpink);
 }

 .home .home-container .home-right {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .home .home-container .home-right img {
   max-width: 750px;
 }

/* Tablet & Mobile Mode */
@media only screen and (max-width: 1200px) {
  .home .home-container .home-right {
    display: none;
  }



  .home .home-container .home-left {
    transform: scale(0.9);
    transition: 0.5s;
  }
}

 /* ================= Home Page - ABOUT ================ */

 .home .about-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   text-align: center;
   gap: 2rem;
   height: auto;
   width: 80%;
 }

 .home .about-container .title-container {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 1rem;
 }

 .home .about-container .title-container h1 {
   font-size: 40px;
   font-weight: 300;
   color: var(--darkpurple);
   border-bottom: 5px solid black;
 }

 .home .about-container .title-container img {
   max-width: 200px;
 }

 .home .about-container .content-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .home .about-container .content-container p {
   font-size: 18px;
   font-weight: 300;
 }

 .home .about-container .content-container img {
   max-width: 400px;
   position: relative;
   left: 10px;
 }

 /* Tablet Mode */
 @media only screen and (max-width: 1200px) {
  .home .about-container {
    align-items: center;
  }
 }

 /* Mobile Mode */
 @media only screen and (max-width: 725px) {
  .home .about-container {
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
  }

  .home .about-container .title-container h1 {
    font-size: 38px;
  }

  .home .about-container .title-container {
    padding: 0;
  }

  .home .about-container .title-container img {
    display: none;
  }

  .home .about-container .content-container {
    justify-content: flex-start;
  }

  .home .about-container .content-container p {
    font-size: 16px;
 }
}

 /* ================= Our Team ================ */

 .home .our-team-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   text-align: center;
   height: auto;
   width: 80%;
 }

 .home .our-team-container .title-container {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 1rem;
   padding-bottom: 30px;
 }

 .home .our-team-container .title-container h1 {
   font-size: 40px;
   font-weight: 300;
   color: var(--darkpurple);
   border-bottom: 5px solid black;
 }

 .home .our-team-container .title-container img {
   max-width: 200px;
 }

 .home .our-team-container .content-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
 }

 .home .our-team-container .content-container .row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
 }

 .home .our-team-container .content-container .row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
 }

 .home .our-team-container .content-container .team-member {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: auto;
   background: rgba(255, 255, 255, .2);
   border-radius: 20px;
   box-shadow: 0 0 50px rgba(0, 0, 0, .1);
   padding: 30px;
 }

 .home .our-team-container .content-container .team-member:hover {
   background: black;
   color: whitesmoke;
   transform: scale(1.1);
   transition: 0.2s;
 }

 .home .our-team-container .content-container .team-member .member-img img {
   width: 200px;
   height: 200px;
   object-fit: cover;
   border-radius: 50%;
 }

 .home .our-team-container .content-container .team-member h3 {
   font-size: 20px;
   font-weight: 400;
   padding-bottom: 20px;
 }

 .home .our-team-container .content-container .team-member p {
   font-size: 15px;
   font-weight: 300;
   width: 80%;
 }

 /* Tablet Mode */
 @media only screen and (max-width: 1200px) {
  .home .our-team-container {
    gap: 0;
  }

  .home .our-team-container .title-container {
    justify-content: flex-start;
  }

  .home .our-team-container .content-container {
    flex-direction: column;
  }
 }

 /* Mobile Mode */
 @media only screen and (max-width: 725px) {
  .home .our-team-container {
    justify-content: flex-start;
    gap: 0;
  }

  .home .our-team-container .title-container h1 {
    font-size: 38px;
  }

  .home .our-team-container .title-container img {
    display: none;
  }

  .home .our-team-container .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home .our-team-container .content-container .row1 {
    flex-direction: column;
  }

  .home .our-team-container .content-container .row1 h3 {
    font-size: 18px;
  }

  .home .our-team-container .content-container .row1 p {
    font-size: 13px;
  }


  .home .our-team-container .content-container .row2 {
    flex-direction: column;
  }

  .home .our-team-container .content-container .row2 h3 {
    font-size: 18px;
  }

  .home .our-team-container .content-container .row2 p {
    font-size: 13px;
  }
 }


 /* ================= FAQs ================ */

 .home .FAQs-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   text-align: center;
   height: auto;
   width: 80%;
 }

 .home .FAQs-container .title-container {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 1rem;
   padding-bottom: 30px;
 }

 .home .FAQs-container .title-container h1 {
   font-size: 40px;
   font-weight: 300;
   border-bottom: 5px solid black;
 }

 .home .FAQs-container .title-container img {
   max-width: 200px;
 }

 .home .FAQs-container .content-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: left;
 }

 .home .FAQs-container .img-container img {
   max-width: 400px;
   position: relative;
 }

 .home .FAQs-container .content-container .accordion {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: auto;
   background: rgba(255, 255, 255, .2);
   border-radius: 20px;
   box-shadow: 0 0 50px rgba(0, 0, 0, .1);
   padding: 40px;
 }

 .home .FAQs-container .content-container .accordion .accordion-item .question {
   padding: 18px 0px;
   font-size: 18px;
   font-weight: 400;
   cursor: pointer;
   border-bottom: 1px solid black;
   position: relative;
 }

 .home .FAQs-container .content-container .accordion .accordion-item .question::after {
   content: "+";
   position: absolute;
   right: -5px;
 }

 .home .FAQs-container .content-container .accordion .accordion-item.active .question::after {
   content: '-';
   transition: .5s;
 }

 .home .FAQs-container .content-container .accordion .accordion-item .ans {
   padding-top: 20px;
   font-size: 15px;
   font-weight: 300;
   line-height: 1.2;
   width: 100%;
   height: 0px;
   overflow: hidden;
   transition: .5s;
 }

 .home .FAQs-container .content-container .accordion .accordion-item.active .ans {
   height: 80px;
 }

 /* Tablet Mode */
 @media only screen and (max-width: 1200px) {
  .home .FAQs-container {
    justify-content: center;
  }

  .home .FAQs-container h1 {
    font-size: 38px;
  }
 }

 /* Mobile Mode */
 @media only screen and (max-width: 725px) {
  .home .FAQs-container {
    justify-content: center;
    align-items: center;
  }

  .home .FAQs-container .title-container .logo {
    display: none;
  }

  .home .FAQs-container .content-container .accordion .accordion-item .ans {
    padding-top: 30px;
  }

  .home .FAQs-container .content-container .accordion .accordion-item .question {
    font-size: 16px;
  }

  .home .FAQs-container .content-container .accordion .accordion-item .ans {
    font-size: 13px;
    padding-top: 15px;
  }
 }

 /* ================= SIGN IN PAGE ================ */

 .login {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   padding: 150px;
 }

 .login .logo img {
   max-height: 50px;
 }

 .login .title h2 {
   font-size: 35px;
   font-weight: 200;
   color: whitesmoke;
   text-align: center;
   padding-bottom: 10px;
 }

 .login .form {
   display: flex;
   flex-direction: column;
   position: relative;
   width: 400px;
   height: auto;
   background: rgba(255, 255, 255, .2);
   border-radius: 20px;
   box-shadow: 0 0 50px rgba(0, 0, 0, .1);
   padding: 40px;
 }

 .login .form .input-field {
   position: relative;
   margin: 30px 0;
   border-bottom: 2px solid whitesmoke;
 }

 .login .form .input-field .label {
   position: absolute;
   top: 50%;
   left: 5px;
   transform: translateY(-50%);
   font-size: 16px;
   color: whitesmoke;
   pointer-events: none;
   transition: .5s;
 }

 .login .form .input-field .input {
   width: 320px;
   height: 40px;
   font-size: 16px;
   color: whitesmoke;
   padding: 0 5px;
   background: transparent;
   border: none;
   outline: none;
 }

 .login .form .input-field .input:focus~.label,
 .login .form .input-field .input:valid~.label {
   top: -5px;
 }

 .login .form .error-msg {
   color: var(--redpink);
   text-align: left;
   margin: -18px 0 18px;
   font-size: 14px;
   font-weight: 500;
 }

 .login .form .remember-me {
   font-size: 0.9rem;
   color: #162938;
   font-weight: 500;
   padding: 0 0 15px 2px;
 }

 .login .form .remember-me .checkbox {
   accent-color: #162938;
   margin-right: 3px;
 }

 .login .form .remember-me .label {
   color: #162938;
   text-decoration: none;
 }

 .login .form .remember-me .label:hover {
   text-decoration: underline;
 }

 .login .form .button {
   position: relative;
   width: 100%;
   height: 40px;
   background: black;
   color: whitesmoke;
   font-size: 16px;
   cursor: pointer;
   border-radius: 30px;
   border: none;
   outline: none;
 }

 .login .form .button:hover {
   background-color: var(--redpink);
 }

 .login .form .signInOrUp-link {
   font-size: 14px;
   text-align: center;
   margin: 15px 0;
 }

 .login .form .signInOrUp-link p a {
   color: #00008b;
   text-decoration: none;
   font-weight: 500;
 }

 .login .form .signInOrUp-link p a:hover {
   text-decoration: underline;
 }

 .login .form .flashed-msg {
   list-style-type: none;
   text-align: center;
   color: var(--redpink);
   font-weight: 500;
 }

 /* ================= SIGN UP PAGE ================ */

 .signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 150px;
}

.signup .logo img {
  max-height: 50px;
}

.signup .title h2 {
  font-size: 35px;
  font-weight: 200;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 10px;
}

.signup .form {
  position: relative;
  width: 400px;
  height: auto;
  background: rgba(255, 255, 255, .2);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, .1);
  padding: 40px;
}

.signup .form .input-field {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid whitesmoke;
}

.signup .form .input-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 16px;
  color: whitesmoke;
  pointer-events: none;
  transition: .5s;
}

.signup .form .input-field input {
  width: 320px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 5px;
  background: transparent;
  border: none;
  outline: none;
}

.signup .form .input-field input:focus~label,
.signup .form .input-field input:valid~label {
  top: -5px;
}

.signup .form .error-msg {
  color: var(--redpink);
  text-align: left;
  margin: -18px 0 18px;
  font-size: 14px;
  font-weight: 500;
}

.signup .form .input-field-radio {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 gap: 0.5rem;
 padding-left: 5px;
 font-weight: 500px;
 font-size: 14px;
 color: whitesmoke;
 padding-bottom: 18px;
}

.signup .form .input-field-radio .radiofield {
 display: flex;
 gap: 0.75rem;
 color: var(--darkpurple);
 padding-top: 5.3px;
}

.signup .form .input-field-radio .radiofield .radio-button label {
 position: relative;
 top: -2px;
}

.signup .form .button {
  position: relative;
  width: 100%;
  height: 40px;
  background: black;
  color: whitesmoke;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: none;
}

.signup .form .button:hover {
  background-color: var(--redpink);
}

.signup .form .signInOrUp-link {
  font-size: 14px;
  text-align: center;
  margin: 15px 0;
}

.signup .form .signInOrUp-link p a {
  color: #00008b;
  text-decoration: none;
  font-weight: 500;
}

.signup .form .signInOrUp-link p a:hover {
  text-decoration: underline;
}

 /*
 .private-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 150px;
}

.private-chat .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.private-chat .chat-header h1 {
  font-size: 35px;
  font-weight: 200;
  color: whitesmoke;
  text-align: center;
}

.private-chat .chat-header .back-link {
  font-size: 16px;
  font-weight: 500;
  color: #00008b;
  text-decoration: none;
}

.private-chat .chat-header .back-link:hover {
  text-decoration: underline;
}

.private-chat .chat-messages {
  width: 100%;
  height: 60vh;
  overflow-y: auto;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.private-chat .chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.private-chat .chat-input input {
  flex-grow: 1;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.private-chat .chat-input button {
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: #00008b;
  cursor: pointer;
  border-radius: 5px;
}

.private-chat .chat-input button:hover {
  background-color: #0000cd;
}
*/

/* QUEUE HTML*/

.user-dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 190px 0 200px;
  margin: 0;
}

.user-dashboard .user-info {
  position: relative;
  width: 100%;
  flex-direction: column;
}

.user-dashboard .user-info .staggered-text {
  font-size: 30px;
  color: whitesmoke;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.user-dashboard .user-info .staggered-text .center {
  text-align: center;
}

.user-dashboard .user-info .staggered-text .right {
  color: #7E549F;
  text-align: right;
  padding-right: 50px;
}

.user-dashboard .match-btn {
  font-weight: bold;
  font-size: 25px;
  background-color: #be6c80;
  color: #f0ffc7;
  border: 5px solid #f0ffc7;
  border-radius:10px;
  padding: 20px;
  position: relative;
}

.user-dashboard .match-btn::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 5px solid #f0ffc7;
  border-radius:5px;
  outline-offset: 2px;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    outline-offset: 2px;
    opacity: 1;
  }
  100% {
    outline-offset: 10px;
    opacity: 0;
  }
}


.user-dashboard .user-info .logout-link {
  font-size: 16px;
  color: #00008b;
  text-decoration: none;
}

.user-dashboard .user-info .logout-link:hover {
  text-decoration: underline;
}

.user-dashboard .online-users h2 {
  font-size: 28px;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 20px;
}

.user-dashboard .online-users ul {
  list-style: none;
  padding: 0;
}

.user-dashboard .online-users .user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user-dashboard .online-users .user-item button {
  padding: 10px;
  border: none;
  color: white;
  background-color: #00008b;
  cursor: pointer;
  border-radius: 5px;
}

.user-dashboard .online-users .user-item button:hover {
  background-color: #0000cd;
}

/* ======== profile page ====================== */
.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main .desktop-nav {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: black;
  backdrop-filter: blur(5px);
}
.main .logo {
  width: 100%;
  text-align: center;
  padding: 40px 0 10px 0;
  font-size: 35px;
  letter-spacing: -1.5px;
  font-weight: 600;
  color: whitesmoke;
}
.main .desktop-nav-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.main .content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.main .profile {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main .gender {
  height: 10px;
}
.main .mobile-nav {
  display: none;
}

.main .desktop-nav-item {
  display: flex;
  flex-direction: row;
  padding: 5px 30px 5px 0px;
}

.main a {
  text-decoration: none;
  color: black;
}

.main .nav-icon {
  padding-right: 40px;
  padding-left: 5px;
  padding-top: 5px;
  text-align: center;
  /* border: 1px solid; */
  width: 20px;
  font-size: 18px;
  color: whitesmoke;
}

.main .profile .text_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .profile .text_component .about-me {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: whitesmoke;
  background-color: black;
  height: 100px;
  width: 500px;
  border-radius: 10px;
  padding: 10px 20px 20px 10px;
  white-space: pre-wrap;
}

.main .nav-title {
  padding: 5px;
  width: 60px;
  font-size: 18px;
  font-weight: 300;
  color: whitesmoke;
}

.main .content {
  overflow: auto;
}

.main .bio p {
  padding: 10px 80px 0px 80px;
  text-align: justify;
  /* to fix child from expanding too much*/
  max-width: 2000px;
}

/* ====== image component ============ */
.main .image_component {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main .image_component .username {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.main .image_component .gender {
  text-align: center;
  font-size: 20px;
  height: 30px;
}

.main .image_component .email {
  text-align: center;
  font-size: 20px;
}

.main .image_component #picture {
  margin-top: 10px;
  margin-left: 50px;
  display: none;
}

.main img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 10px 60px -10px rgba(13, 28, 29, 0.5);
}

.main input:disabled {
  color: black;
}

.main .hovered {
  border: 1px solid blue;
  border-radius: 50%;
}

.main .username {
  display: flex;
  /* word-wrap: none; */
  padding-top: 0px;
}

.main .gender {
  font-size: 13px;
  /* font-weight: 10px; */
  color: rgb(32, 30, 30);
}

.main #about-me {
  padding-top: 20px;
  color: #000000;
}

input[type="text"]:not(:placeholder-shown),
select:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
    border: none;
    background-color: transparent;
}

/* =======edit button========= */
.main #edit-btn {
  width: 150px;
  height: 50px;
  background: black;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: none;
}

.main #edit-btn:hover {
  background-color: var(--redpink);
}

.main #submit {
  width: 150px;
  height: 50px;
  background: black;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: none;
  display: none;
}

.main #submit:hover {
  background-color: var(--redpink);
}

.main .flashes {
  color: #00008b;
}

/* ========================== */

@media only screen and (max-width: 1024px) {
  .main .nav-title {
    display: none;
  }
  .main .desktop-nav {
    width: 100px;
  }

  .main .desktop-nav .desktop-nav-item{
    padding: 0px;
    padding: 15px 0px 5px 15px;
  
  }
  .main .logo {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .main .desktop-nav {
    width: 0px;
  }

  .main .desktop-nav-list {
    display: none;
  }

  .main .mobile-nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    color: whitesmoke;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    padding-top: 15px;
  }

  .main .mobile-nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  /* move image down */
  .main .image_component {
    padding-top: 50px;
  }
}
/* =======private_chat.html========= */

.pc-container {
  padding-top: 5%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* chat box section */
.pc-container .chat-box {
  width: 450px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-repeat: 10px;
  border-radius: 10px;
  position: relative;
  
}

@media screen and (max-width: 768px) {
  .chat-box{
      max-width: 100%;
      min-width: 300px;
  }
}


/* Connected User */
.pc-container .chat-box .client {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.pc-container .chat-box .client img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 1;
}

.pc-container .chat-box .client-info {
  color: #dadada;
  padding: 15px;
}

.pc-container .chat-box .client-info p{
  color: #757575;
  font-weight: bold;
  font-style: 0.8em;
}

/* chat section */
.pc-container .chat-box .chats {
  width: 100%;
  padding: 0 15px;
  color: #d4d4d4;
  position: relative;
  font-style: 1.1em;
  height: 465px;
  overflow: auto;
}

.pc-container .chat-box .chats .client-chat {
  width: 60%;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px 10px;
  border-radius: 10px 10px 10px 0;
  margin: 10px 0;
}

.pc-container .chat-box .chats .user-chat {
  width: 60%;
  word-wrap: break-word;
  background-color: rgba(233, 233, 233, 0.5);
  padding: 7px 10px;
  border-radius: 10px 10px 0 10px;
  margin: 5px 0 5px auto;
}

/* input section */
.pc-container .chat-box .chat-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  bottom:  0;
}

.pc-container .chat-box input {
  width: calc(100% - 10%);
  height: 175%;
  background-color: #acacac;
  border-radius: 50px;
  color: #2e2e2e;
  font-size: 1em;
  padding: 0 15px;
}

.pc-container .chat-box .chat-input .send-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.pc-container .chat-box .chat-input .send-btn:active {
  transform: scale(0.8);
}

.pc-container .chat-box .chat-input .send-btn img {
  width: 100%;
  height: 100%;
}

/* match icon button */
.pc-container .match-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.pc-container .match-btn img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  transition: 0.4s ease-in-out;
}

.pc-container .match-btn:hover img {
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
  /*shaking animation*/
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.pc-container .pc-btn {
  width: 100%;
  position: relative;
  text-align:center;
  margin: 0;
  padding: 0;
}

.pc-container .pc-btn .control-txt {
  color: #fff;
  font-size: 150%;
}

.pc-container .pc-btn .pc-btn-cancel {
  font-weight: bold;
  font-size: 25px;
  background-color: #be6c80;
  color: #f0ffc7;
  border: 5px solid #f0ffc7;
  border-radius:10px;
  padding: 20px;
  display: inline-block;
}

.pc-container .pc-btn .pc-btn-cancel:hover {
  border: 7px solid #a70e34;
}

.pc-container .pc-btn .pc-btn-match {
  font-weight: bold;
  font-size: 25px;
  background-color: #a70e34;
  color: #f0ffc7;
  border: 5px solid #f0ffc7;
  border-radius:10px;
  padding: 20px;
  margin-left: 5px;
  display: inline-block;

}

.pc-container .pc-btn .pc-btn-match:hover {
  border: 8px dotted #be6c80;
}

.pc-container .pc-btn .pc-btn-extend {
  font-weight: bold;
  font-size: 25px;
  background-color: #be6c80;
  color: #f0ffc7;
  border: 5px solid #f0ffc7;
  border-radius:10px;
  padding: 20px;
  display: inline-block;
}

.pc-container .pc-btn .pc-btn-extend:hover {
  border: 7px solid #a70e34;
}


 /* ================= History ================ */

.main .history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main .history .user {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main .chat {
  display: flex;
  justify-content: center;
  flex: 4;
  background: rgba(255, 255, 255, .2);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, .1);
  padding: 40px;
  margin-bottom: 50px;
  width: 70%;
  overflow: auto;
}

.main .chat .messages {
  width: 90%;
  
}


.main .chat .receiver {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 10px;
  width: 50%;
}

.main .chat .receiver .text-msg {
  background-color: var(--redpink);
  padding: 10px 30px 10px 20px;
  border-radius: 5px;
}

.main .chat .sender {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  text-align: right;
  margin-left: auto;
  margin-bottom: 10px;
  width: 50%;
}

.main .chat .sender .text-msg {
  background-color: lightgreen;
  padding: 10px 20px 10px 30px;
  border-radius: 5px;
}
