{% extends "base.html" %}

{% block content %}
<div class="main">
    <div class="desktop-nav">
        <div class="logo">Finder</div>
        <div class="desktop-nav-list">
            <div class="desktop-nav-item">
                <a href="{{ url_for('index', username=current_user.username) }}">
                    <div class="nav-icon"><i class="fa-solid fa-house"></i></div>
                </a>
                <a href="{{ url_for('index', username=current_user.username) }}">
                    <div class="nav-title">Profile</div>
                </a>
            </div>
            <div class="desktop-nav-item">
                <a href="{{ url_for('history') }}">
                    <div class="nav-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                </a>
                <a href="{{ url_for('history') }}">
                    <div class="nav-title">History</div>
                </a>
            </div>
            <div class="desktop-nav-item">
                <a href="{{ url_for('queue') }}">
                    <div class="nav-icon"><i class="fa-solid fa-infinity"></i>
                    </div>
                </a>
                <a href="{{ url_for('queue') }}">
                    <div class="nav-title">Match</div>
                </a>
            </div>
            <div class="desktop-nav-item">
                <a href="{{ url_for('logout') }}">
                    <div class="nav-icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                </a>
                <a href="{{ url_for('logout') }}">
                    <div class="nav-title">Logout</div>
                </a>
            </div>
        </div>
    </div>
        <div class="history">
            <div class="user">
                {% if matchedUsers != None %}
                {% for match in matchedUsers %}
                    <div class="user">
                        <a href="{{ url_for('history', username=match.username) }}">
                            <div class="user-img">
                                <img src="{{ match.avatar() }}" alt="{{ match.username }}-img"></img>
                            </div>
                        </a>
                        <div class="user-name">{{ match.username }}</div>
                    </div>
                {% endfor %}
                </div>
                <div class="chat">
                    <div class="messages">
                        {% if chats != None %}
                        {% for chat in chats %}
                            {% if chat.receiver == c_user_id %}
                                <div class="sender">
                                    <div class="person">{{chat.receiver}}</div>
                                    <div class="text-msg">{{chat.msg}}</div>
                                </div>
                            {% else %}
                                <div class="receiver">
                                    <div class="text-msg">{{chat.msg}}</div>
                                    <div class="person">{{chat.receiver}}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% else %}
                        <h1 style="color:white">Looks like you have no matches...</h1>
                        {% endif %}
                {% else %}
                <h1>Looks like you have no matches...</h1>
                {% endif %}
                    </div>
                </div>
                </div>
    <div class="mobile-nav">
        <a href="{{ url_for('index', username=current_user.username) }}">
            <div class="nav-icon"><i class="fa-solid fa-house"></i></div>
        </a>
        <a href="{{ url_for('history') }}">
            <div class="nav-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </a>
        <a href="{{ url_for('queue') }}">
            <div class="nav-icon"><i class="fa-solid fa-infinity"></i>
            </div>
        </a>
    </div>
    <script src="{{ url_for('static', filename='script/index.js') }}"></script>
    </div>

{% endblock %}
