{% extends "base.html" %}

{% block content %}
<div class="main">
    <div class="desktop-nav">
        <div class="logo">Finder</div>
        <div class="desktop-nav-list">
            <div class="desktop-nav-item">
                <a href="{{ url_for('index', username=current_user.username) }}">
                    <div class="nav-icon"><i class="fa-solid fa-house"></i></div>
                </a>
                <a href="{{ url_for('index', username=current_user.username) }}">
                    <div class="nav-title">Profile</div>
                </a>
            </div>
            <div class="desktop-nav-item">
                <a href="{{ url_for('history') }}">
                    <div class="nav-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                </a>
                <a href="{{ url_for('history') }}">
                    <div class="nav-title">History</div>
                </a>
            </div>
            <div class="desktop-nav-item">
                <a href="{{ url_for('queue') }}">
                    <div class="nav-icon"><i class="fa-solid fa-infinity"></i>
                    </div>
                </a>
                <a href="{{ url_for('queue') }}">
                    <div class="nav-title">Match</div>
                </a>
            </div>
            <div class="desktop-nav-item">
                <a href="{{ url_for('logout') }}">
                    <div class="nav-icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                </a>
                <a href="{{ url_for('logout') }}">
                    <div class="nav-title">Logout</div>
                </a>
            </div>
        </div>
    </div>

    <form action="" method="post" enctype="multipart/form-data" class="content">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="profile">
            <div class="image_component">
                <input type="file" id="file-input" style="display: none;">
                <img src="{{ current_user.avatar() }}" id="user-icon" class="icon" alt="avatar">
                {{ form.picture() }}<br>
                {% for error in form.picture.errors %}
                <span style="color: brown;">[{{ error }}]</span>
                {% endfor %}
                <p>
                    {{ form.username(class='username', disabled=True) }}
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.gender(class='gender', disabled=True) }} <br>
                    {% for error in form.gender.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email(class='email', disabled=True) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

            </div>
            <div class="text_component">
                <p>
                    {{ form.about_me(placeholder='Write something about yourself', disabled=True,
                    class='about-me', rows="4", cols="50") }}
                    <br>
                    {% for error in form.about_me.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>
            <div class="btn-container">
                <button class="btn" id="edit-btn" type="button">Edit Profile</button>
                {{ form.submit() }}
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class="flashes">{{ message }}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% if user != current_user %}
            {% if user.last_seen %}
            <p>Last seen on: {{ user.last_seen }}</p>
            {% endif %}
            {% endif %}
        </div>
    </form>
    <script src="{{ url_for('static', filename='script/index.js') }}"></script>

    <div class="mobile-nav">
        <a href="{{ url_for('index', username=current_user.username) }}">
            <div class="nav-icon"><i class="fa-solid fa-house"></i></div>
        </a>
        <a href="{{ url_for('history') }}">
            <div class="nav-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </a>
        <a href="{{ url_for('queue') }}">
            <div class="nav-icon"><i class="fa-solid fa-infinity"></i>
            </div>
        </a>
    </div>
</div>
{% endblock %}