{% extends "base.html" %}

<!-- form is an forms object from LoginClass -->
{% block content %}
<!-- action is the url to send the form to, empty for current url -->
<!-- hidden tag to protect against CSRF attacks, will be replace by key from config-->
<div class="login">
    <div class="logo">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='images/tinder_icon.png') }}" alt="Finder"></a>
    </div>
    <div class="title">
        <h2>No more hinder</h2>
    </div>
    <div class="form">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="input-field">
                <!--forms has built in error msgs for bad validation-->
                <!--for loops for multiple error msgs-->
                <!--place holder expecting a form object from LoginForms class-->
                <!--able to add customise with CSS/HTML/attribute notice the size attr being changeg-->
                <!--if validation fails add another html element-->
                {{ form.username(class='input') }}
                {{ form.username.label(class='label') }}
            </div>
            {% for error in form.username.errors %}
            <div class="error-msg"><span>{{ error }}</span></div>
            {% endfor %}
            <div class="input-field">
                {{ form.password(class='input') }}
                {{ form.password.label(class='label') }}
            </div>
            {% for error in form.password.errors %}
            <div class="error-msg"><span>{{ error }}</span></div>
            {% endfor %}
            <div class="remember-me">
                {{ form.remember_me(class='checkbox') }}
                {{ form.remember_me.label(class='label')}}
            </div>
            {{ form.submit(class='button') }}
            <div class="signInOrUp-link">
                <p>New to Finder? <a href="{{ url_for('register') }}" class="signInOrUpBtn-link">Sign up now</a></p>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashed-msg">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </form>
    </div>
</div>
{% endblock %}