{% extends 'base.html' %}

{% block content %}
<!--
<div class="private-chat">
    <div class="chat-header">
        <h1>Private Chat with {{ recipient.username }}</h1>
        <a class="back-link" href="{{ url_for('index', username=current_user.username) }}">Back to online users</a>
    </div>
    <div id="messages" class="chat-messages">
        Chat messages will be dynamically added here
        {% for chat in chatsList %}
            {% if chat.sender == sender %}
                <p>You: {{ chat.msg }}</p>
        {% else %}
                <p>{{ chat.sender }}: {{ chat.msg }}</p>
            {% endif %}
        {% endfor %}
    </div>
    <div class="chat-input">
        <input type="text" id="message-input" placeholder="Type your message..." required>
        <button id="send-message">Send</button>
    </div>
</div>
-->


<div class="pc-container">
    <!-- chat box -->
    <div class="chat-box">
        <!-- client -->
        <div class="client">
            <img src="{{ url_for('static', filename='images/profile1.png') }}" alt="logo" />
            <div class="client-info">
                <h2>Private Chat with {{ recipient.username }}</h2>
                <p>match to reveal</p>
            </div>
        </div>

        <!-- main chat -->
        <div id="messages" class="chats">
             <!-- Chat messages will be dynamically added here -->
            {% for chat in chatsList %}
                {% if chat.sender == sender %}
                    <div class="user-chat">{{ chat.msg }}</div>
                {% else %}
                    <div class="client-chat">{{ chat.msg }}</div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- input chat -->
        <div class="chat-input">
            <input type="text" id="message-input" placeholder="Type your message..." required>
            <button class="send-btn" id="send-message">
                <img src="{{ url_for('static', filename='images/send-btn.png') }}" alt="send-btn">
            </button>
        </div>
    </div>
    
    <!-- button -->
    <div class="match-btn">
        <img src="{{ url_for('static', filename='images/match.png') }}" alt="match icon">
    </div>

    <!-- Add this new element to store the recipient username -->
    <span id="recipient-username" hidden>{{ recipient.username }}</span>
    <div class="pc-btn" id="control-panel" hidden>
        <div class="control-txt">Times Up! its time to make a choice...</div>
        <button class="pc-btn-cancel" id="btn-cancel">Cancel
        <button class="pc-btn-match" id="btn-match">Match</button>
        <button class="pc-btn-extend" id="btn-extend">Extend</button>
    </div>
    
</div>

<script>
    //const recipientId = "{{ recipient.id }}";
    const recipientUsername = "{{ recipient.username }}";
    const currentUsername = "{{ sender }}";
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='script/main.js') }}"></script>
{% endblock %}